<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

  <div class="hero-image">
    <div class="hero-text">





      <h1> TutorUs </h1>
      <h2>The App That Helps Find You A Tutor Near You !</h2>

     
        <div class="box">
          <script>
            var message = "Thank you " + firstname.value + " your appointment has been scheduled with Tyrek Thompson";
          
           </script>
          <div class="contact_page">
            <form method="POST" action="/zipcode">
              <label class="fnamee" for="fname"></label>
              <input type="text" id="fname" name="firstname" placeholder="Name">
              <label class="age" for="age"></label>
              <input type="text" id="age" name="Age" placeholder="Age">
              <label class="zipcode" for="zipcode"></label>
              <input class="zip_code"  type="text" id="Zip" name="Zip" placeholder="Zip Code">
              <label class="email" for="email"></label>
              <input class="email"  type="text" id="email" name="email" placeholder="email">
              <div class="Subjects">
                <label for="Subjects"></label> </div>
              <select id="Subjects" name="Subjects">
                <option value="Subjects">Select Subject</option>
                <option value="Math">Math</option>
                <option value="English">English</option>
                <option value="History">History</option>
                <option value="Science">Science</option>
                </select>
                <label class="commentt" for="comment">Comments</label>
                <input type="text" id="comment" name="comment" placeholder="Additional Comments">
              <input type="submit" onclick= "alert('Thank you ' + firstname.value + ' from ' + stateName )" ></input>
              </form>
   
                
          </div>

          <footer class="footer-distributed">
            <div class="footer-right">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
            </div>
            <div class="footer-left">
              <p class="footer-links">
                <a class="link-1" href="#">Home</a>
                <a href="#">Blog </a>
                <a href="#">Pricing </a>
                <a href="#">About </a>
                <a href="#">Faq </a>
                <a href="#">Contact</a>
              </p>
              <p>TutorUs &copy; 2020</p>
            </div>
          </footer>
          <script src="index.js"></script>
</body>

</html>